In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from openpyxl import Workbook, load_workbook

In [2]:
wb = load_workbook("meio_circulante_dados_abertos_2.xlsx")

In [3]:
for sheet in wb:
  print(sheet)

<Worksheet "meio_circulante_dados_abertos.x">

In [4]:
ws = wb["meio_circulante_dados_abertos.x"]

In [5]:
df = pd.read_excel("meio_circulante_dados_abertos_2.xlsx")

In [6]:
df['NUMERÁRIO'] = df['REAIS'] + (df['CENTAVOS']/100)

In [7]:
df.head()

,DATA,FAMÍLIA (ESPÉCIE),REAIS,CENTAVOS,TIRAGEM,NUMERÁRIO
0,02/01/1995,Moedas - 1a. Família (inox),0,1,834342314,0.01
1,02/01/1995,Moedas - 1a. Família (inox),0,5,636711876,0.05
2,02/01/1995,Moedas - 1a. Família (inox),0,10,583076666,0.10
3,02/01/1995,Moedas - 1a. Família (inox),0,25,146883388,0.25
4,02/01/1995,Moedas - 1a. Família (inox),0,50,329791540,0.50

In [8]:
wb.save('meio_circulante_dados_abertos_2.xlsx')

In [9]:
df['MONTANTE'] = df['NUMERÁRIO'] * df['TIRAGEM']

In [10]:
df.head()

,DATA,FAMÍLIA (ESPÉCIE),REAIS,CENTAVOS,TIRAGEM,NUMERÁRIO,MONTANTE
0,02/01/1995,Moedas - 1a. Família (inox),0,1,834342314,0.01,8.343423e+06
1,02/01/1995,Moedas - 1a. Família (inox),0,5,636711876,0.05,3.183559e+07
2,02/01/1995,Moedas - 1a. Família (inox),0,10,583076666,0.10,5.830767e+07
3,02/01/1995,Moedas - 1a. Família (inox),0,25,146883388,0.25,3.672085e+07
4,02/01/1995,Moedas - 1a. Família (inox),0,50,329791540,0.50,1.648958e+08

In [11]:
df.to_csv("meio_circulante_dados_abertos_2.csv", index = False)

In [12]:
wb.save('meio_circulante_dados_abertos_2.xlsx')